@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(https://fonts.google.com/?query=poppins);
 }


.card-container{
    /* border: 1px solid black; */
    width:200px;
    height:335px;
    display: flex;
    flex-direction: column;
    gap:15px;
    box-shadow: 3px 2px 20px rgb(238, 237, 237);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card-container:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.card-image{
    /* border:1px solid black; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 200px;
    height:200px;
    object-fit: cover;
}

.description-container{
    /* border:1px solid black; */
    padding-left: 16px;
    padding-right: 16px;
}

.card-name{
    /* border:1px solid black; */
    font-weight: bold;
    font-size:16px;
    color:#252525;
    font-weight: 600;
}   

.card-code{
    /* border:1px solid black; */
    font-size: 12px;
    font-weight: 400;
    color:#6C6C70
}

.card-price{
    /* border:1px solid black; */
    text-align: end;
    color:#E13B30;
    font-size: 20px;
    font-weight: 600;
    margin-top:30px
}